.content-tabs {
  border: none;
}

.content-tabs-item {
  border: none;
  margin-right: 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.nav-tabs > li > a {
  color: $orange-main;
}

.nav-tabs > li > a:hover {
  background-color: $bright-orange;
  color: $white;
}

.nav-tabs > li.active > a,
.nav-tabs>li.active>a:focus,
.nav-tabs > li > .tabs-link-active {
  background-color: $orange-main;
  color: white;
}
