.header-nav {
  background-color: $orange-main-binar-places;
  border-radius: 0;
  height: 55px;
  margin-top: 70px;
}

.navbar-burger {
  border: 1px solid $orange-main-binar-places;
  border-radius: 23px;
  float: none;
  margin-left: 15px;
  margin-top: 20px;
  color: $orange-main-binar-places;
}

.navbar-toggle .icon-bar {
  background-color: $orange-main-binar-places;
}

.navbar-list {
  list-style-type: none;
  padding: 1px;
}

.navbar-list-element {
  display: inline;
  float: left;
  border-right: 1px solid $light-orange-binar-places;
}

.navbar-list-element-link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar-list-element-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-dropdown-category {
  background-color: $orange-main-binar-places;
}

@media (max-width: $screen-xs-max) {
  .header-nav {
    background-color: transparent;
  }

  .navbar-list-element {
    display: block;
    float: none;
    border: none;
  }
}
