.place-card {
  color: chocolate;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid chocolate;
}

.place-card:hover {
  background-color: chocolate;
  color: white;
}

.place-card:hover .br-theme-fontawesome-stars-o .br-widget a::after {
  background-color: chocolate;
  color: white !important;
}

.content-place-cards {
  border: 1px solid chocolate;
  margin-bottom: 30px;
}

.br-theme-fontawesome-stars-o .br-widget a::after {
  color: chocolate !important;
}