.place-card {
  color: $orange-main;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid $orange-main;
  transition: 0.5s;
  border-radius: 23px;
}

.place-card:hover {
  background-color: $orange-main;
  color: $white;
}

.place-card:hover .br-theme-fontawesome-stars-o .br-widget a::after {
  background-color: $orange-main;
  color: $white !important;
  transition: 0.5s;
}

.content-place-cards {
  border-top: 1px solid $orange-main;
  margin-bottom: 30px;
}

.br-theme-fontawesome-stars-o .br-widget a::after {
  color: $orange-main !important;
  transition: 0.5s;
}

.img-circle {
  transition: 0.5s;
}

.place-card:hover .img-circle {
  padding: 7px;
  background-color: $white;
}
