.review-box {
  border: 1px solid $white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: $white;
  color: $orange-main;
}

.review-author {
  text-align: right;
}

.review-date {
  text-align: right;
}
