body {
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  overflow-x: hidden; }

h1 {
  font-weight: 700; }

.modal-binar-places {
  background-color: #D2691E; }

.place-card {
  color: #D2691E;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #D2691E; }

.place-card:hover {
  background-color: #D2691E;
  color: #ffffff; }

.place-card:hover .br-theme-fontawesome-stars-o .br-widget a::after {
  background-color: #D2691E;
  color: #ffffff !important; }

.content-place-cards {
  border: 1px solid #D2691E;
  margin-bottom: 30px; }

.br-theme-fontawesome-stars-o .br-widget a::after {
  color: #D2691E !important; }

nav {
  max-width: 50vw;
  z-index: 1; }

.navbar {
  background-color: #D2691E;
  border-radius: 0; }

.navbar-list {
  list-style-type: none;
  padding: 1px; }

.navbar-list-element {
  display: inline;
  float: left;
  border-right: 1px solid #FF7F50; }

.navbar-list-element-link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none; }

.navbar-list-element-link:hover {
  text-decoration: none;
  color: #ffffff; }

.navbar-dropdown-category {
  background-color: #D2691E; }

.content-loader {
  padding: 20px; }

.footer {
  background-color: #D2691E;
  padding: 30px; }

.header-nav {
  position: absolute;
  left: 25%;
  z-index: 1;
  max-width: 50vw; }

.header-pageName {
  display: inline-block; }

.header-loginRegister {
  display: inline-block;
  padding-top: 35px;
  float: right; }

.intro {
  padding: 350px;
  text-align: center;
  background: url("../images/index-background.jpeg") no-repeat;
  background-size: cover;
  height: 100vh; }

.intro-text {
  display: inline-block;
  font-size: 50px; }

.intro-link-text {
  background-color: #D2691E;
  padding: 5px;
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  width: 20%; }

.content-tabs {
  margin-top: 30px;
  border: none; }

.content-tabs-item {
  border: none;
  margin-right: 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.content-tabs-item > .content-tabs-item-link {
  color: #D2691E; }

.content-tabs-item-active > .content-tabs-item-link {
  color: #ffffff;
  background-color: #D2691E; }

.content-tabs-item-link:hover {
  background-color: #D2691E;
  border: 1px solid #D2691E;
  color: white; }
