body {
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  overflow-x: hidden; }

h1 {
  font-weight: 700; }

.hidden {
  display: none; }

.modal-binar-places {
  background-color: #D2691E; }

.modal-btn {
  float: right; }

.place-card {
  color: #D2691E;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #D2691E;
  transition: 0.5s;
  border-radius: 23px; }

.place-card:hover {
  background-color: #D2691E;
  color: #ffffff; }

.place-card:hover .br-theme-fontawesome-stars-o .br-widget a::after {
  background-color: #D2691E;
  color: #ffffff !important;
  transition: 0.5s; }

.content-place-cards {
  border-top: 1px solid #D2691E;
  margin-bottom: 30px; }

.br-theme-fontawesome-stars-o .br-widget a::after {
  color: #D2691E !important;
  transition: 0.5s; }

.img-circle {
  transition: 0.5s; }

.place-card:hover .img-circle {
  padding: 7px;
  background-color: #ffffff; }

.header-nav {
  background-color: #D2691E;
  border-radius: 0;
  height: 55px;
  margin-top: 70px; }

.navbar-burger {
  border: 1px solid #D2691E;
  border-radius: 23px;
  float: none;
  margin-left: 15px;
  margin-top: 20px;
  color: #D2691E; }

.navbar-toggle .icon-bar {
  background-color: #D2691E; }

.navbar-list {
  list-style-type: none;
  padding: 1px; }

.navbar-list-element {
  display: inline;
  float: left;
  border-right: 1px solid #FF7F50; }

.navbar-list-element-link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none; }

.navbar-list-element-link:hover {
  text-decoration: none;
  color: #ffffff; }

.navbar-dropdown-category {
  background-color: #D2691E; }

@media (max-width: 767px) {
  .header-nav {
    background-color: transparent; }
  .navbar-list-element {
    display: block;
    float: none;
    border: none; } }

.content-loader {
  padding: 20px; }

.footer {
  background-color: #D2691E;
  padding: 30px; }

#login-register,
#logout {
  display: none; }

.header-pageName {
  display: inline-block; }

.header-loginRegister {
  display: inline-block;
  padding-top: 35px;
  padding-right: 17px;
  float: right; }

@media (max-width: 767px) {
  .header-loginRegister {
    float: none;
    padding-top: 0px; } }

.intro {
  text-align: center;
  background: url("../images/index-background.jpeg") no-repeat;
  background-size: cover;
  height: 100vh; }

.intro-text {
  margin-top: 250px;
  display: inline-block;
  font-size: 50px; }

.intro-link-text {
  padding: 5px;
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin: 0 auto; }

@media (max-width: 767px) {
  .intro-text {
    margin-top: 400px; } }

.content-tabs {
  border: none; }

.content-tabs-item {
  border: none;
  margin-right: 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.nav-tabs > li > a {
  color: #D2691E; }

.nav-tabs > li > a:hover {
  background-color: #ffbb83;
  color: #ffffff; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > .tabs-link-active {
  background-color: #D2691E;
  color: white; }

.review-box {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #D2691E; }

.review-author {
  text-align: right; }

.review-date {
  text-align: right; }

.place-map {
  height: 400px;
  width: 100%;
  margin-top: 10px; }

#add-new-place {
  display: none; }

.new-place-button {
  text-align: center;
  margin: 50px 0px;
  padding: 10px 0;
  background-color: #D2691E;
  color: #ffffff;
  border-radius: 20px; }

.rev-btn:hover,
.new-place-button:hover {
  cursor: pointer; }

.rev-btn {
  color: #D2691E; }

.main-content-container {
  padding-top: 30px; }

.gallery-place-img {
  width: 100%;
  height: 200%;
  border-radius: 23px;
  transition: 0.5s; }
